{% extends '::base.html.twig' %}

{% block body %}
<div class="row marketing">
    {% for workshop in workshops %}
        {% if workshop.display %}
            {{ render(controller('AppBundle:Workshop:workshop', {
                'id': workshop.id
            })) }}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}